<ul class="mainnav">

    <li class="">
        <a href="/index.html">
            <i class="icon-home"></i>
            <span>Home</span>
        </a>	    				
    </li>
    
    <!-- SCRATCH --> 
    <li class="dropdown">					
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-ghost"></i>
            <span>Scratch</span>
            <b class="caret"></b>
        </a>	    
    
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Blue Belt</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/scratch/blue/lesson1/index.html">Lesson 1</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-2" href="#">Yellow Belt</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/scratch/yellow/lesson1/index.html">Lesson 1</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-3" href="#">Red Belt</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/scratch/red/lesson1/index.html">Lesson 1</a></li>
                </ul>
            </li>
            
        </ul> 				
    </li>
    
    <!-- html -->
    <li class="dropdown active">					
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-html"></i>
            <span>HTML/CSS</span>
            <b class="caret"></b>
        </a>	    
    
        <ul class="dropdown-menu">
            <li><a href="/html/lesson1/index.html">Lesson 1: Introduction</a></li>
        </ul> 				
    </li>
    
    <!-- Python -->
    <li class="dropdown">					
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-python"></i>
            <span>Python</span>
            <b class="caret"></b>
        </a>	
    
        <ul class="dropdown-menu">
            <li><a href="/python/lesson1/index.html">Lesson 1: Introduction</a></li>
        </ul> 		  				
    </li>

</ul>

